@charset "UTF-8";


body, div, p, ul, li, input, textarea {
	margin:0;
	padding:0;
}

html {
	width:100%;
	height:100%;
}

body {
	width:100%;
	height:100%;
	font-family:Arial, Helvetica, sans-serif;
	overflow:hidden;
}

.float.left {
	float:left;
}

.header {
	width:100%;
}

.header .title {
	font-size:29px;
	font-weight:bold;
	padding:20px 20px 10px 20px;
}

.header .content {
	width:100%;
	height:110px;
	margin-left:20px;
	margin-right:180px;
	overflow: hidden;
    white-space: nowrap;
}

.header .content .headerItem {
	display: inline-block;
	white-space: normal;
	border-bottom:solid #fcb71b 1px;
}

.header .logo {
	background-image:url(../images_2016/dring_header.png);
	background-size:265px 72px;
	background-position:bottom;
	background-repeat:no-repeat;
	width:265px;
	height:109px;
}

.header .perso2016 {
	background-image:url(../images_2016/perso_header.png);
	background-size:70px 109px;
	background-position:0px bottom;
	background-repeat:no-repeat;
	width:70px;
	height:109px;
}

.header .aide {
	padding: 0px 4px 0 4px;
	height: 31px;
	margin: 0px 15px 0px 60px;
	background-color:#221035;
}

.header .aide p {
	color:#FFFFFF;
	text-align:center;
	padding-top: 7px;
}

.onglets {
	font-size: 15px;
	margin-top:78px;
}

.onglets .titre {
	float:left;
	width:530px;
	text-align:center;
	font-size:40px;
	color:#f6f3d2;
}

.header .bgEnvoyer {
	position:absolute;
	left:950px;
	top:80px;
	background-image:url(../images_2016/bg_temoignage2.png);
	background-size:290px 77px;
	background-repeat:no-repeat;
	background-color:rgba(0,0,0,0.00);
	border-width:0;
	width:290px;
	height:77px;
	pointer-events:none;
	z-index:1;
}

.header .envoyer {
	position:absolute;
	left:950px;
	top:80px;
	text-align:center;
	cursor:pointer;
	width:290px;
	height:45px;
	z-index:2;
}

.header .envoyer p {
	padding-top:10px;
}


.onglets .tabs {
	float:left;
	padding-left:150px;
	background-color:#221035;
}

.onglet {
	float:left;
	cursor:pointer;
	width:158px;
	height:29px;
	margin-left:2px;
	background-color:#920002;
	padding-top:2px;
}

.onglet.inactive {
	opacity:0.4;
}

.onglet.motcles {
	background-color:#c3244d;
}

.onglet.items {
	background-color:#287a3c;
}

.onglet.carte {
	background-color:#7335b4;
}

.onglet.users {
	background-color:#2771b0;
}

.onglet p {
	text-align:center;
	color:#FFFFFF;
	padding-top: 5px;
}



.global {
	width: 100%;
	height: 100%;
	background-image:url(../images_2016/bg.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	margin: 0;
}

.global .footer {
	height:40px;
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index:5;
}

.global .footer button {
	float:left;
	background-size:39px 35px;
	background-repeat:no-repeat;
	border:none;
	background-color:transparent;
	padding-left:38px;
	margin:7px 20px 0px 20px;
	height:35px;
	color:white;
	text-shadow:2px 2px 5px black;
}

.global .footer .buttons {
	height:48px;
}

.global .footer .plein_ecran {
	float:left;
	background-image: url(../images/plein_ecran.png);
	background-repeat: no-repeat;
	margin: 0 10px;
	width:34px;
	height:33px;
	cursor:pointer;
}


.mainContent {
	width: 100%;
	height: 100%;
	clear: both;
}

.questions {
	width:285px;
	height:524px;
	padding-top:20px;
	position: absolute;
}

.questionsParent {
	position: absolute;
	width: 315px;
	z-index:20;
	padding-top:33px;
	padding-bottom:33px;
	overflow:auto;
}

li.query {
	list-style-type:none;
}

.queryTitre {
	cursor:pointer;
	width:285px;
	height:51px;
	background-color:#fcb71b;
	margin-left:20px;
	margin-bottom:5px;
	background-size:13px 41px;
	background-position:272px 5px;
	background-repeat:no-repeat;
	font-size: 0.9em;
	color:#684d0e;
}

.queryTitre.inactive {
	background-color: rgb(149, 139, 100);
	width:75%;
	font-size: 0.8em;
	background-size:10px 38px;
	background-position:202px 6px;
	margin-left:49px;
}

.queryTitre p {
	padding-left:10px;
	padding-right:30px;
	padding-top:8px;
}

.queryTitre p a {
	text-decoration:none;
	color:#684d0e;
}

.queryTitre.inactive p a {
	color: #735c23;
}

.mosaique {
	height:calc(100% - 225px);
	background-color:#221035;
	position:relative;
	margin-left:285px;
	margin-right:180px;
	z-index:2;
}

.mosaique .vue {
	position:absolute;
	width:100%;
	height:100%;
}

.mosaique .vue .vue_relative {
	position:relative;
	height: 100%;
}

.leaflet-control-zoom {
	margin-left:20px !important;
}

.leaflet-left {
	left:20px !important;
}

.leaflet-top {
	top:20px !important;
}


.leaflet-marker-pane img {
	cursor:pointer;
}

.leaflet-div-icon {
	background:none !important;
	border:none !important;
	width:17px !important;
	height:40px !important;
}

.leaflet-container .itemTitre {
}

.mosaique .bgMots {
	position:absolute;
	width:100%;
	height: 100%;
	z-index:3;
}

.mosaique .mots {
	padding-left: 65px;
	background-size:32px 70px;
	background-repeat:no-repeat;
	position: relative;
}

#motcles {
	overflow: auto;
}

.mosaique .mots p {
	font-size:12px;
	line-height: 12px;
	font-family: Arial;
	margin-bottom:65px;
	
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;      

	cursor:default;
	position: absolute;
	bottom: 15px;
	display: block;
}

.mosaique .mots.mot1 {
	border-bottom:solid #287a3c 1px;
	background-position: 41px bottom;
	background-image:url(../images_2016/bg_perso_vert.png);
	height: 30%;
}

.mosaique .mot1 p {
	color:#287a3c;
}

.mosaique .mots.mot2 {
	border-bottom:solid #68602f 1px;
	background-position: 41px bottom;
	background-image:url(../images_2016/bg_perso_marron.png);
	height: 30%;
}

.mosaique .mot2 p {
	color:#fcb71b;
}

.mosaique .mots.mot3 {
	border-bottom:solid #8f2942 1px;
	background-position: 41px bottom;
	background-image:url(../images_2016/bg_perso_rouge.png);
	height: 30%;
}

.mosaique .mot3 p {
	color:#8f2942;
}

.mosaique .recentsParent {
	background-color:#221035;
	padding: 0px 20px 0px 20px;
	opacity:0;
}

.mosaique .recents {
	padding: 15px 0px 15px 0px;
	color:white;
	position:relative;
	-webkit-user-select: none;      
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor:default;
	color:#fcb71b;
	height: 15px;
	background: url(../images_2016/bg_dates.png) center repeat-x;
}

.mosaique .recents .left {
	font-size:12px;
	position:absolute;
	background-color:#221035;
	padding: 0px 2px 0px 0px;
}


.mosaique .recents .center {
	position:absolute;
	left:50%;
	width:50px;
}

.mosaique .recents .right {
	font-size:12px;
	position:absolute;
	right:0;
	background-color:#221035;
	padding: 0px 0px 0px 2px;
}

.itemsParent {
	padding-top:33px;
	padding-bottom:33px;
}

#items {
	position:absolute;
	z-index:4;
}



/* Vue Items */

#items .itemTitre {
	height:30px;
	margin-top:-10px;
}

.parent_perso_svg {
	position: relative;
	width:17px;
	height:40px;
}

.parent_perso_svg a {
	position: absolute;
	width:17px;
	height:40px;
}

.parent_perso_svg .perso {
	fill:rgba(255,0,0, 0.00);
}

.parent_perso_svg .perso.visited {
	fill:rgba(180,180,180, 1.00);
}

.parent_perso_svg .perso.current {
	fill:rgba(255,255,0, 1.00);
}

.perso_svg {
	transform:scale(0.5,0.5);
	transform-origin: 0 0;
	width: 34px;
	height: 80px;
}


/* Vue Users */

.mosaique .user {
	float:left;
	margin:10px;
	padding:50px;
}

#users {
	padding-left:20px;
}

.mosaique .user .userParent {
}

.mosaique .user .userParent .userName {
}

.mosaique .user .userParent .userItemsParent {
	position:relative;
}

.mosaique .user .userParent .userItemsParent .itemTitre {
	position:absolute;
}

.mosaique .user .userParent .userItemsParent .itemTitre img {
	height:30px;
}

.mosaique .user a {
	text-decoration:none;
	color:#FFFFFF;
}

/* Vue KeyWords */

.mosaique .motCle {
	float:left;
	margin: 40px 40px 20px 40px;
}

.mosaique .motCle .motCleTitle {
	float:left;
}

.mosaique .motCle .motCleTitle a {
	text-decoration:none;
	color:#b98fe3;
}

.mosaique .motCle .motCleTitle a:hover {
	color:white;
}

.mosaique .motCle .motCleItemsParent {
	float: left;
	margin: -7px 0px 0px 6px;
}

.mosaique .motCle .itemTitre {
	float:left;
}

.mosaique .motCle .itemTitre img {
	height:30px;
	margin-top:-10px;
}

/* Vue Carte */



/* PopUp */

.global .mainContent .popup {
	width: 346px;
	height: 575px;
	position: absolute;
	left:10px;
	top:10px;
	z-index: 98;
	
	background-color:#fcb71b;
	display:none;
	
	-moz-box-shadow: 1px 1px 4px 0px #666666;
	-webkit-box-shadow: 1px 1px 4px 0px #666666;
	-o-box-shadow: 1px 1px 4px 0px #666666;
	box-shadow: 1px 1px 4px 0px #666666;
}

.global .mainContent .popup .popupContent {
	position:relative;
	margin: 0 13px 0 13px;
}

.global .mainContent .popup .popupHeader {
	height:20px;
}

.global .mainContent .popup .popupClose {
	float:right;
	width:20px;
	height:20px;
	cursor:pointer;
	margin-right: -10px;
	text-align: right;
}

.global .mainContent .popup .popupMedia {
	width: 320px;
	height: 240px;
	margin: 0px 0px 10px 0px;
	position: relative;
}

.global .mainContent .popup .popupMediaBorder {
	pointer-events: none;
	position:absolute;
	top: 20px;
	left: 0;
	width:320px;
	height:240px;
	box-shadow: 0px 0px 4px black inset;
	z-index:99;
}

.global .mainContent .popup .popupMediaPlayer {
	height:240px;
}

.global .mainContent .popup .popupMediaPlayer .textMedia {
	padding:10px;
	overflow:auto;
	height:240px;
}


.global .mainContent .popup .popupMediaPlayer .mejs-overlay {
	width: 320px;
	height:240px;
}

.global .mainContent .popup .popupMediaPlayer .mejs-container {
	position:absolute;
	width: 320px;
	height: 240px;
}


.global .mainContent .popup .popupMedia img {
	margin:0 auto;
	display: block;
	position: relative;
	top: 50%;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.global .mainContent .popup .popupMedia img {
	max-height: 100%;
	width:auto;
}

.global .mainContent .popup .popupMedia img {
	max-width: 100%;
	height:auto;
}

.global .mainContent .popup .popupMedia .mejs-layers,
.global .mainContent .popup .popupMedia .mejs-layers .mejs-overlay {
}


.global .mainContent .popup .popup#envoys {
	margin:15px 0px 30px 90px;
}

.global .mainContent .popup .popupButtons {
	height: 42px;	
}

.global .mainContent .popup .voteButton {
	float:left;
	background-repeat:no-repeat;
	border: none;
	background-color: rgba(0,0,0,0);
	height: 38px;
	text-transform:capitalize;
	color:white;
	font-size:15px;
}

.global .mainContent .popup .voteButton.cool {
	width: 95px;
	background-image: url(../images_dring13/bouton_vote_cool.png);
	background-size: 51px 38px;
}

.global .mainContent .popup .voteButton.pasCool {
	float: right;
	width: 110px;
	background-image: url(../images_dring13/bouton_vote_pas_cool.png);
	background-size: 52px 38px;
	text-align: right;
}


.global .mainContent .popup .popupHeaderComment {
	clear:both;
	font-size:15px;
	margin:5px 0px 5px 0px;
	color:#666666;
}

.global .mainContent .popup .popupInputComment {
	background-color: white;
	box-shadow: 0px 0px 4px black inset;
	margin:8px 0px 8px 0px;
	padding:5px;
}

.global .mainContent .popup .popupInputComment textarea {
	width:310px;
	height:40px;
	border:none;
	resize: none;
	outline: none;
	overflow: auto;
	background:transparent;
}

.global .mainContent .popup .popupComments {
	clear: both;
	padding-top: 0px;
	height: 140px;
	overflow: scroll;
	border: 1px solid black;
	background-color: #715591;
	font-size: 12px;
	color: #333333;
}

.global .mainContent .popup .popupComments .comment {
	padding:5px;
	border-bottom:1px solid #BABABA;
}

.global .mainContent .popup .popupComments .comment.vert {
	background-color:#CDFFB3;
}

.global .mainContent .popup .popupComments .comment.rouge {
	background-color:#FFAEAF;
}

.animationAttente {
	width:1100px;
	height:500px;
	position:absolute;
	top:0;
	z-index:100;
	display:none;
}


/* Tooltip */

.global .tooltip {
	padding:10px;
	color:#000000;
	position:absolute;
	pointer-events:none;
	background-color:#fcb71b;
	border-radius: 4px;
	box-shadow:0px 2px 4px rgba(0,0,0,0.5);
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:12px;
	z-index:25;
}

.global .perso-over-hilite {
	position:absolute;
	pointer-events:none;
	background-image:url(../images_dring13/bg_sun.png);
	background-size:80px 80px;
	background-repeat:no-repeat;
	width:80px;
	height:80px;
	z-index:24;
}



/* Upload */

.global .uploadParent {
	position:absolute;
	left:0px;
	top:0px;
	z-index:110;
	display:none;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.90);
}

#fileSelect {
	color:#FFFFFF;
}

#formQueries, #formKeywords {
	color:#000000;
}

#formKeywords {
	margin:30px;
}

.global .uploadParent .uploadBg {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
}

.global .uploadParent .uploadRelative {
	position:relative;
}

.global .uploadParent .uploadContent {
	background:url(../images_2016/bgForm.png) no-repeat;
	background-color:#221035;
	width:1020px;
	height:650px;
	margin:80px auto;
	position:relative;
}

.global .uploadParent .uploadContent .uploadHeader {
	height: 123px;
}

.global .uploadParent .uploadContent .uploadHeader .headerTitle {
	color: #e4d7a5;
	font-size: 32px;
	font-weight:bold;
	padding: 50px 0 0 90px;
}

.global .uploadParent .uploadContent .uploadFooter {
	width:1020px;
	height:45px;
	background-color:red;
	position:absolute;
	bottom:0;
}

.global .uploadParent .uploadContent .uploadClose {
	float:right;
	width:20px;
	height:20px;
	cursor:pointer;
	color:#FFFFFF;
}

.global .uploadParent .uploadContent .uploadBody {
	clear:both;
	color: rgb(221, 221, 221);
	background-image:url(../images_2016/bg_body_formulaire.png);
	background-repeat:repeat-y;
	background-position:right;
	height:calc(100% - 123px);
}

.global .uploadParent .uploadContent .uploadBody .rubrique {
	background-image:url(../images_2016/carre_form.png);
	background-repeat:no-repeat;
	padding-left: 33px;
	margin-top: 20px;
	margin-bottom: 10px;
	color: #e4d7a5;
}

.global .uploadParent .uploadContent .uploadBody .rubrique .no {
	color:red;
}

.global .uploadParent .uploadContent .uploadBody .rubrique.principale {
	text-transform: uppercase;
	color: #FF0000;
	background-image: none;
	padding-left: 0px;
}

.global .uploadParent .uploadContent .uploadBody .rubrique.etape {
	display:inline;
}

.global .uploadParent .uploadContent .uploadBody .sousrubrique {
	font-size: 0.68em;
	color: white;
	padding: 3px 0 0 18px;
}

.global .uploadParent .uploadContent .uploadBody .elementForm {
	padding:0px 50px 0px 0px;
}

.global .uploadParent .uploadContent .uploadBody .elementForm p {
	padding-bottom:3px;
}

.global .uploadParent .uploadContent .uploadBody  button {
	margin-top:10px;
	display:inline;
}

.global .uploadParent .uploadContent .uploadBody input[type=radio]:not(old) {
	width   : 176px;
	margin  : 0;
	padding : 0;
	opacity : 0;
}
 
.global .uploadParent .uploadContent .uploadBody input[type=radio]:not(old) + label {
	display: block;
	border: 1px solid #221035;
	font-size: 0.7em;
	width: 176px;
	height: 146px;
	text-align:right;
}

.global .uploadParent .uploadContent .uploadBody label.coolRadioLabel {
	background: url(../images_2016/form_choix1.jpg) no-repeat 0 0;
}

.global .uploadParent .uploadContent .uploadBody label.pasCoolRadioLabel {
	background: url(../images_2016/form_choix2.jpg) no-repeat 0 0;
}

.global .uploadParent .uploadContent .uploadBody input[type=radio]:not(old):checked + label{
	border:1px solid #ffbd00;
}

.global .uploadParent .uploadContent .uploadBody .uploadStatus {
	font-size: 0.75em;
	padding-top: 19px;
	font-style: italic;
}

.global .uploadParent .uploadContent .uploadBody .sliders {
	padding:30px;
}

.global .uploadParent .uploadContent .uploadBody .sliders .elementForm span {
	padding:10px;
}

.global .uploadParent .uploadContent .uploadBody .buttonFooter {
	clear:both;
	width:90%;
	position: absolute;
	bottom: 12px;
	z-index: 10;
	background-image: url(../images_2016/footer_upload_pointille.png);
	background-repeat: repeat-x;
	background-position: center;	
}

.global .uploadParent .uploadContent .uploadBody .buttonFooter .etape {
	background-color: red;
	padding-right: 20px;
}

.global .uploadParent .uploadContent .uploadBody .buttonFooter p {
	display:inline;
	color:#221035;
	font-weight: bold;
}

.global .uploadParent .uploadContent .uploadBody .buttonParent {
	display:inline-block;
	position: absolute;
	right: 0;
	bottom: 0px;
	background-color: red;
}


.global .uploadParent .uploadContent .uploadBody .buttonParent button {
	width: 120px;
	margin-top: 4px;
	font-size: 18px;
	font-weight: bold;
	border: none;
	background: transparent;
	background-size: 20px 26px;
	background-image: url(../images_2016/btn_suite.png);
	background-repeat: no-repeat;
	background-position: center right;
	cursor:pointer;
}


/* login / inscription */

.global .uploadParent .uploadContent .uploadBody .etape_user {
	padding: 36px 50px 20px 85px;
	position: relative;
}

.loginForm .label, .inscriptionForm .label {
	display:inline-block;
	width:200px;
	margin:5px;
}

#inscription-button, #login-button {
	float:left;
	margin-top:50px;
	margin-left:350px;
}

.loginForm .loginError {
	margin-top: 20px;
	font-size: 0.85em;
	color: #FF6600;
}


.global .uploadParent .uploadContent .uploadBody .tabLoginInscription {
}

.global .uploadParent .uploadContent .uploadBody .tabLoginInscription > div {
	padding:20px 20px 20px 0px;
	cursor:pointer;
	float:left;
}

.global .uploadParent .uploadContent .uploadBody .tabLoginInscription .selected {
	color:#FF0000;
	cursor:default;
}

.global .uploadParent .uploadContent .uploadBody .loginForm {
	display:block;
	padding-top:30px;
	clear:both;
}

.global .uploadParent .uploadContent .uploadBody .inscriptionForm {
	display:none;
	padding-top:30px;
	clear:both;
}

.global .uploadParent .uploadContent .uploadBody .inscriptionForm .label {
	width:200px;
	text-align:right;
	padding:5px;
}

/* upload */
.global .uploadParent .uploadContent .uploadBody .etape_upload {
	padding: 15px 50px 20px 50px;
}

.global .uploadParent .uploadContent .uploadBody .uploadForm {
	float:left;
}

.global .uploadParent .uploadContent .uploadBody .uploadForm select {
	text-transform: uppercase;
}

.global .uploadParent .uploadContent .uploadBody .uploadedMedia {
	position: absolute;
	width: 200px !important;
	height: 200px;
	top: 50px;
	right: 20px;
}

.global .uploadParent .uploadContent .uploadBody .uploadedMedia img {
	width:190px !important;
}

.global .uploadParent .uploadContent .uploadBody .uploadedMedia > div {
	width:190px !important;
}

.global .uploadParent .uploadContent .uploadBody .uploadForm .elementForm .envoiTexte textarea {
	width: 500px;
	margin-right: 5px;
}

/* vote */
.global .uploadParent .uploadContent .uploadBody .etape_vote {
	padding: 30px 50px 20px 50px;
}

.global .uploadParent .uploadContent .uploadBody .etape_vote label {
	color:#221035;
}

.global .uploadParent .uploadContent .uploadBody .etape_vote_text {
	float: right;
    width: 540px;
    font-size: 1.3em;
}

.global .uploadParent .uploadContent .uploadBody .etape_vote_text p {
	margin-bottom:30px;
	color:#e4d7a5;
}

.global .uploadParent .uploadContent .uploadBody .etape_keyword_text {
	clear:both;
	padding-top: 30px;
}

.global .uploadParent .uploadContent .uploadBody .etape_keyword_text p {
	clear:both;
	margin-bottom:20px;
	color:#e4d7a5;
}



/* carte */
.global .uploadParent .uploadContent .uploadBody .etape_map {
	padding: 20px 50px 20px 50px;
}

.global .uploadParent .uploadContent .uploadBody .formMapParent {
	height: 340px;
}

.global .uploadParent .uploadContent .uploadBody .mapParent {
	
	position:relative;
	margin:20px;
	
	/*
	Pour la carte Bitmap :
	
	-moz-transform:scale(0.25);
	-webkit-transform:scale(0.25);
	-o-transform:scale(0.25);
	transform:scale(0.25);
	
	-moz-transform-origin:0% 0%;
	-webkit-transform-origin:0% 0%;
	-o-transform-origin:0% 0%;
	transform-origin:0% 0%;
	*/
}

.global .uploadParent .uploadContent .uploadBody .mapParent .map {
	position:absolute;
}

.global .uploadParent .uploadContent .uploadBody .mapParent .item {
	position:absolute;
}

/* mots-clés */
.global .uploadParent .uploadContent .uploadBody .etape_keyword {
	padding: 30px 50px 20px 50px;
}

.global .uploadParent .uploadContent .uploadBody .keywords {
}

.global .uploadParent .uploadContent .uploadBody .keywords .keyword {
	float:left;
	padding:15px;
	cursor:pointer;
	color:#e4d7a5;
	border:1px solid #221035;
}

.global .uploadParent .uploadContent .uploadBody .keywords .keyword.selected {
	border:1px solid #ffbd00;
}

.global .uploadParent .uploadContent .uploadBody .etape_envoi {
	padding: 36px 50px 20px 85px;
}

.global .uploadParent .uploadContent .uploadBody .etape_conclusion {
	padding: 36px 50px 20px 85px;
}
